* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: my-font;
    src: url(./fonts/Norse-Bold.otf);
  }

body {
    background-color: aliceblue;
    display: flex;
}
.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    background: url(./images/2.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}
.right {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex:2;
    width: 100%;
}
.form {
    width: 100%;
}
form header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 33vh;
}
header>div{
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
   
    margin-left: 50px;
}
header>div>p:nth-child(3) {
    margin-top: 40px;
}
.logocontainer {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 300px;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.3);
}
.logotext {
    color: white;
    font-family: my-font;
    font-size: 5rem;
}
.photocredit {
    margin-top: auto; 
    margin-bottom: 10px;
    text-align: center;
    font-family: sans-serif, Arial, Helvetica ;
    text-shadow: 1px 1px 1px black;
    color: white;
}
.photocredit >a {
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    color: white;
}
.inputscontainer {
    padding: 20px 0;
    background-color:white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 33vh;
}
.inputscontainer>p {
    font-size:  1.5rem;
    font-weight: bold;
   margin: 20px 0 0 50px;
   font-family: sans-serif;
}
.form-row {
    display: flex;
    gap: 60px;
    margin-left: 50px;
    width: 50%;
}
.row-input {
    appearance: none;
    display: flex;
    flex-direction: column;
}
.row-input > label{
    color: gray;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
}
.row-input > input {
    font-family: sans-serif;
    padding: 5px;
    min-width: 300px;
    height: 30px;
    border:2px solid #E5E7EB;
    border-radius: 3px;
}
.row-input > input:focus {
    border-color: blue;
    outline: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.row-input >input:invalid {
    border-color: red;
}
.buttoncontainer {
    margin: 20px 0 0 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
  
}
.buttoncontainer input[type="submit"] {
    width: 180px;
    padding: 10px 0 ;
    background-color: #1a959d;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}
.buttoncontainer input[type="submit"]:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.buttoncontainer a {
    color: #1a959d;
    text-decoration: none;
}
#two {
    margin-top: 5px;
    color:red;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}